//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
	margin-bottom: 0;
	padding: 2rem 0 0.5rem;
	list-style: none;
	background-color: $global-color;
	color: $primary;
	font-family: $font-family-base;
	font-size: $font-size-1;
	line-height:1em;
	display: none;

	@include sm{
		display: block;
	}

	> li {
		display: inline-block;
		padding-right: 2.33rem;

		a {
			color: $primary;
			text-decoration: none;
			position: relative;
			font-size: $font-size-1;
			line-height:1em;

			&:hover {
				text-decoration: underline;

				&:after{
					color: $primary;
				}
			}

			&:after {
				display: block;
				font-family: $font-family-icomoon;
				content: $triangle-right-icon;
				color: $gray-darkenen;
				position: absolute;
				font-size: $font-size-1 - 0.15rem;
				line-height: 1em;
				bottom: 2px;
				right: -1.5rem;

			}


		}

	}

	> .active {
		a {
			&,
			&:hover,
			&:active {
				color: $gray-darkenen;
				cursor: default;
				text-decoration: none;
			}

			&:after{
				display: none;
			}
		}

	}
}
