//
// Pagination
//
.pagination-block {
  display: block;
  padding-left: 0;
  margin: 3rem 0;
  text-align: center;

  > li {
    display: none;
    @include md {
      display: inline-block; // Remove list-style and block-level defaults
    }

    margin-right: 0.75rem;

    &:last-child {
      margin-right: 0;
    }

    > a {

      position: relative;
      width: 45px;
      height: 45px;
      float: left; // Collapse white-space
      padding: .75em;
      line-height: 1.5rem;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 2px solid $pagination-border;
      text-align: center;
      @include media-custom(480px) {
        @include block-size(50px, 50px);
        padding: .75em 1.15em;
        line-height: 1.9rem;
      }
    }

    // different padding for pagination links first and last(arrows)
    &:first-child,
    &:last-child {

      display: inline-block;
      a {
        border-radius: 0; //reset bootstrap settings
      }
    }

  }

  > li > a {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a {
    &,
    &:hover,
    &:active {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > a,
    > a:hover {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor: default;
    }
  }
  .pagination-prev,
  .pagination-next {


    a {
      padding: .75em 2rem;

      &:before,
      &:after {
        font-family: $font-family-icomoon;
      }

      @include xs {
        display: block;
        width: 100%;

      }
      @include sm {
        display: inline;
      }
    }


    > a {
      @include xs {
        float: none;
      }
      @include sm {
        float: left;
      }
    }
  }
  .pagination-next {
    a {
      &:after {
        content: $angle-right-icon;
        padding-left: 1rem;
      }
    }

  }

  .pagination-prev {
    a{
      &:before {
        content: $angle-left-icon;
        padding-right: 1rem;
      }
    }
  }
}

//// sizing
////
//
////small
//.pagination-large{
//  @include pagination-sizes(16px, 24px, 22px, $font-size-8);
//}
//
////large
//.pagination-small{
//  @include pagination-sizes(8px, 13px, 12px, $font-size-xs);
//}

