//
// Scaffolding
// --------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color-base;
  background-color: $primary-snow;
  -webkit-font-smoothing: antialiased;
  &.style-guide{
    color: $gray-light;
  }
  &.modal-open{
    overflow: hidden;
    .backdrop{
      opacity: 1;
      display: block;
    }
  }
  &.overflow{
    //@include max-lg{
      //position: fixed;
    //}

    overflow: hidden !important;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

// Forms

// common settings
input {
  @include tab-focus;
  box-sizing: border-box;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

select {
  appearance: none;
  overflow: hidden;
  color: $gray-lighter !important;
}


// Links

a {
  color: $link-color-base;
  text-decoration: none;
  transition: .1s;

  &:hover{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
 &:focus{
    text-decoration: none;
  }

}


// outline

a,
button,
input{
  @include tab-focus; // outline delete
}

// figure

figure {
  margin: 0;
}

// Images

img {
  vertical-align: middle;
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile


[role="button"] {
  cursor: pointer;
}

select{
  appearance: none;
  position: relative;
  outline:none !important;
  overflow : hidden;
}