// Variables
// --------------------------------------------------

//== Root
$root:                  12px !default;

//== Breakpoints

$xs:                    320px !default;
$sm:                    768px !default;
$md:                    992px !default;
$lg:                    1100px !default;
$lg-sm:                 1360px !default;
$lg-md:                 1600px !default;
$lg-hd:                 1850px !default;

//== Colors


$primary-snow:          #fff !default;  // white  #fff
$global-color:          $primary-snow;

//brand colors
$primary:              	#00aac6 !default; // #00aac6;
$primary-dark:          #036f81 !default; // #036f81;
$primary-darker:        #02869c !default; // #036f81;
$primary-darken:        #128da0 !default; // #036f81;
$primary-darkenen:      #047588 !default; // #036f81;
$primary-light:      	#0b9cb3 !default; // #5da8dc;
$primary-lighter:      	#17c9e6 !default; // #5da8dc;
$primary-lighten:      	#5da8dc !default; // #5da8dc;
$primary-lightenen:     #04abc6 !default; // #04abc6;

//
$gray:                  #464646  !default;  //  #464646
$gray-base:             #686868  !default;  //  #636363
$gray-light:            #898989  !default;  //  #898989
$gray-lighter:          #eaeaea  !default;  //  #eaeaea
$gray-lightenen:        #9f9494  !default;  //  #9f9494
$gray-dark:             #a6a6ac  !default;  //  #a6a6ac
$gray-darken:           #8d8d8d  !default;  //  #8d8d8d
$gray-darkenen:         #98989f  !default;  //  #98989f

$secondary:             #818181  !default;
$secondary-dark:        #c8c8c8  !default;
$secondary-darker:      #f7f7f7  !default;
$secondary-darken:      #8aa0a4  !default;
$secondary-darkenen:    #d9d8d8  !default;
$secondary-light:       #c5c5c5  !default;
$secondary-lighter:     #929292  !default;
$secondary-lighten:     #b3b3b3  !default;
$secondary-lightenen:   #dceff2  !default;

$tertiary:              #b5a553  !default;
$tertiary-light:        #dccf8e  !default;


// font families
$font-family-sans-serif:  'OpenSans Regular', sans-serif !default;
$font-family-semibold:    "OpenSans Semi-bold", sans-serif !default;
$font-family-bold:        "OpenSans Bold", sans-serif !default;

$font-family-icon:        'FontAwesome' !default;
$font-family-icomoon:     'icomoon' !default;



// font sizes

$font-size-1:            rem(12)       !default;   // ~12px
$font-size-2:            rem(13)       !default;   // ~13px
$font-size-3:            rem(15)       !default;   // ~15px
$font-size-4:            rem(16)       !default;   // ~16px
$font-size-5:            rem(18)       !default;   // ~18px
$font-size-6:            rem(20)       !default;   // ~20px
$font-size-7:            rem(22)       !default;   // ~22px
$font-size-8:            rem(24)       !default;   // ~24px
$font-size-9:            rem(26)       !default;   // ~28px
$font-size-10:           rem(32)       !default;   // ~32px
$font-size-11:           rem(42)       !default;   // ~42px
$font-size-12:           rem(23)       !default;   // ~23px

//line height

$line-height-1:          $font-size-4;
$line-height-2:          $font-size-5;
$line-height-3:          $font-size-6;
$line-height-4:          $font-size-8;
$line-height-5:          $font-size-7;
$line-height-6:          $font-size-8;
$line-height-7:          $font-size-10;

//Border radius
$border-radius-xs:        rem(3);
$border-radius-lg:        rem(14);


  //base settings
$font-size-base:          rem(14)        !default;   // ~14px
$font-family-base:        $font-family-sans-serif;
$line-height-base:        $font-size-base;
$link-color-base:         $primary;
$text-color-base:         $gray-base;
$border-radius-base:      rem(10);





//icons
$angle-down-icon:          "\f107" !default;
$angle-up-icon:            "\f106" !default;
$angle-right-icon:         "\f237" !default;
$angle-left-icon:          "\f236" !default;

$arrow-up-long-icon:       "\f2a0" !default;
$arrow-down-long-icon:     "\f29f" !default;

$triangle-right-icon:      "\f05a" !default;
$check-icon:               "\e17d" !default;

$circle-icon:              "\e0a7" !default;

$play-video-icon:          "\eb7f" !default;
$close-icon:               "\e5cd" !default;
$headset-mic-icon:         "\e311" !default;
$reload-icon:              "\eca9" !default;
$phone-icon:               "\ebf2" !default;
$mail-icon:                "\e0bf" !default;
$earth-icon:               "\ecef" !default;
$exclamation-icon:         "\eb78" !default;
$search-icon:              "\eb73" !default;
$place-icon:               "\e55f" !default;
$place2-icon:              "\f134" !default;
$place3-icon:              "\ec6d" !default;

$clock-icon:               "\ec74" !default;
$wallet-icon:              "\f4e8" !default;
$comments-icon:            "\f1cc" !default;
$coins-icon:               "\ea0a" !default;

$doctor-icon:              "\f223" !default;
$medicine-icon:            "\ee73" !default;
$calendar-icon:            "\f425" !default;
$heartbeat-icon:           "\f33e" !default;

//statistics-block
$chat-icon:                "\e0b9" !default;
$board-icon:               "\ee63" !default;
$domain-icon:              "\e7ee" !default;

//rating-icons
$rating-icon-o:            "\f006" !default;
$rating-icon:              "\f005" !default;

//Comments
$users-icon:               "\f118" !default;
$users-man-icon:           "\ee67" !default;
$users-woman-icon:         "\ee68" !default;
$user-form-icon:           "\ee66" !default;


//social
$google-icon:              "\edb0" !default;
$twitter-icon:             "\edbb" !default;
$fb-icon:                  "\edb5" !default;
$vk-icon:                  "\f2b2" !default;

//registration
$key-icon:                 "\eac1" !default;
$lock-icon:                "\eed4" !default;

//metro
$metro-icon:                "\eed4" !default;

//Filter
$filter-icon:               "\f1f3" !default;

 //about-info
$laptop-icon:              "\e31e" !default;
$chat2-icon:               "\eba3" !default;




/////////Blocks Settings///////////

  //footer
$footer-bg:           #02869c !default; //#02869c
$footer-color:        #17c9e6 !default; //#17c9e6
$copyright-bg:        #047082 !default; //#047082

  //dropdowns
$dropdown-border-color: #cccaca !default;
$dropdown-color:        #333333 !default;
$dropdown-background-hover: #00aac5 !default;

  //post-list
$post-color:            #7c7c7c !default;
$post-title-color:      #2d2d2d !default;

  // Phone block
$phone-block-bg:        #787878 !default;

  //tabs
$tabs-border:               #eeeeee !default;


  //social
$vk-color:                  #41658b !default; //41658b
$fb-color:                  #39579a !default; //39579a
$twitt-color:               #00abf0 !default; //00abf0
$social-border-color:       #ececec !default; //ececec

  //Navigation settings
$navigation-bg:             #f9f9f9 !default; //f9f9f9
$navigation-bg-hover:       #047082 !default; //#047082
$navigation-bg-hover-light: #047082 !default; //#047082
$navigation-bg-active:      $primary-snow !default; //#047082

$navigation-color:                #98989f !default; //#98989f
$navigation-color-hover:          $primary-snow !default; //#98989f
$navigation-color-active:         #00aac5 !default; //#00aac5

$navigation-border-color:         $gray-lighter !default;

$navigation-callback-bg:         #ff8916 !default; //ff8916


  //BUTTONS SETTINGS

//btn-default
@mixin btn-default-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,e7e7e7+100 */
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #e7e7e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#e7e7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */

};
$btn-default-color:             #a8a8a8  !default;

@mixin btn-default-bg-hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,e7e7e7+100 */
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #e7e7e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#e7e7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */

};
$btn-default-color-hover:       #a8a8a8  !default;

$btn-default-bg-active:         #b7b7b7  !default;
$btn-default-color-active:      #8b8b8b  !default;

//btn-primary
@mixin btn-primary-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aac5+0,0090a7+100 */
  background: #00aac5; /* Old browsers */
  background: -moz-linear-gradient(top,  #00aac5 0%, #0090a7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00aac5 0%,#0090a7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00aac5 0%,#0090a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aac5', endColorstr='#0090a7',GradientType=0 ); /* IE6-9 */
};
$btn-primary-color:             $primary-snow  !default;

@mixin btn-primary-bg-hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16c8e4+0,00aac5+100 */
  background: #16c8e4; /* Old browsers */
  background: -moz-linear-gradient(top,  #16c8e4 0%, #00aac5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #16c8e4 0%,#00aac5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #16c8e4 0%,#00aac5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16c8e4', endColorstr='#00aac5',GradientType=0 ); /* IE6-9 */

}
$btn-primary-color-hover:       $primary-snow  !default;

$btn-primary-bg-active:         #067587  !default;
$btn-primary-color-active:      $primary-snow !default;

//btn-success
@mixin btn-success-bg{
  background-image: -moz-linear-gradient( 90deg, rgb(126,166,0) 0%, rgb(140,185,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(126,166,0) 0%, rgb(140,185,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(126,166,0) 0%, rgb(140,185,0) 100%);
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.19);
};
$btn-success-color:             $primary-snow  !default;

@mixin btn-success-bg-hover{
  background-image: -moz-linear-gradient( 90deg, rgb(140,185,0) 0%, rgb(179,227,29) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(140,185,0) 0%, rgb(179,227,29) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(140,185,0) 0%, rgb(179,227,29) 100%);
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.29);

};
$btn-success-color-hover:       $primary-snow  !default;

@mixin btn-success-bg-active{
  background-image: -moz-linear-gradient( 90deg, rgb(110,145,0) 0%, rgb(126,166,0) 100%, rgb(126,166,0) 100%, rgb(140,185,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(110,145,0) 0%, rgb(126,166,0) 100%, rgb(126,166,0) 100%, rgb(140,185,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(110,145,0) 0%, rgb(126,166,0) 100%, rgb(126,166,0) 100%, rgb(140,185,0) 100%);

};
$btn-success-color-active:      $primary-snow  !default;




//btn-warning
@mixin btn-warning-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa884f+0,ee6e14+100 */
  background: #fa884f; /* Old browsers */
  background: -moz-linear-gradient(top,  #fa884f 0%, #ee6e14 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fa884f 0%,#ee6e14 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fa884f 0%,#ee6e14 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa884f', endColorstr='#ee6e14',GradientType=0 ); /* IE6-9 */
};
$btn-warning-color:             $primary-snow  !default;

@mixin btn-warning-bg-hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9d35+0,ee6e14+100 */
  background: #ff9d35; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9d35 0%, #ee6e14 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff9d35 0%,#ee6e14 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff9d35 0%,#ee6e14 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d35', endColorstr='#ee6e14',GradientType=0 ); /* IE6-9 */
}
$btn-warning-color-hover:       $primary-snow  !default;

@mixin btn-warning-bg-active{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec6d1d+0,d95f11+100 */
  background: #ec6d1d; /* Old browsers */
  background: -moz-linear-gradient(top,  #ec6d1d 0%, #d95f11 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ec6d1d 0%,#d95f11 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ec6d1d 0%,#d95f11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6d1d', endColorstr='#d95f11',GradientType=0 ); /* IE6-9 */

}
$btn-warning-color-active:      $primary-snow !default;


//BUTTONS FILTER SETTINGS

//btn-filter-default
$btn-filter-default-bg:                #e7e7e7  !default;
$btn-filter-default-color:             #7c7c7c  !default;

$btn-filter-default-bg-hover:          $primary-snow  !default;
$btn-filter-default-color-hover:       #17c9e6  !default;

$btn-filter-default-bg-active:         #b7b7b7  !default;
$btn-filter-default-color-active:      #7b7b7b  !default;

//btn-filter-default
$btn-filter-danger-bg:                $primary-snow  !default;
$btn-filter-danger-color:             #E27273  !default;

$btn-filter-danger-bg-hover:          $primary-snow  !default;
$btn-filter-danger-color-hover:       #E27273   !default;

$btn-filter-danger-bg-active:         #e27273  !default;
$btn-filter-danger-color-active:      $primary-snow !default;

//btn-filter-primary
$btn-filter-primary-bg:                #00aac5  !default;
$btn-filter-primary-color:             $primary-snow  !default;

$btn-filter-primary-bg-hover:          #00aac5  !default;
$btn-filter-primary-color-hover:       $primary-snow   !default;

$btn-filter-primary-bg-active:         #067587  !default;
$btn-filter-primary-color-active:      #18b9d2  !default;

//btn-filter-info
$btn-filter-info-bg:                #f8feff  !default;
$btn-filter-info-color:             #00aac5  !default;
$btn-filter-info-border:            #e6f8fb  !default;

$btn-filter-info-bg-hover:          #00aac5  !default;
$btn-filter-info-color-hover:       $primary-snow   !default;
$btn-filter-info-border-hover:      #00aac5   !default;

$btn-filter-info-bg-active:         #00aac5  !default;
$btn-filter-info-color-active:      $primary-snow !default;
$btn-filter-info-border-active:     #00aac5 !default;

//btn-callback
$btn-callback-bg:                      transparent  !default;
$btn-callback-color:                   $primary-snow  !default;

$btn-callback-bg-hover:                $primary-snow  !default;
$btn-callback-color-hover:             #00aac5 !default;

$btn-callback-bg-active:               #067587  !default;
$btn-callback-color-active:            #17b7d0  !default;

//btn-reload
$btn-reload-bg:                      transparent  !default;
$btn-reload-color:                   #98989f  !default;
$btn-reload-border:                   #eaeaea  !default;

$btn-reload-bg-hover:                $primary-snow  !default;
$btn-reload-color-hover:             #00aac5 !default;
$btn-reload-border-hover:             #00aac5 !default;

$btn-reload-bg-active:               #067587 !default;
$btn-reload-color-active:            #18b9d2  !default;
$btn-reload-border-active:            #eaeaea !default;




//Rating

$rating-color:             #ffc333  !default;  //  #ffc333
$rating-text-color:        #87b300  !default;  //  #87b300

// Enroll

$enroll-bg:                #fff3b5 !default;

//Metro

$metro-red:                #e60003 !default; //#e60003
$metro-green:              #16932d!default; //#16932d
$metro-blue:               #2e6db5 !default; //#2e6db5

$modal-metro-red:                #ef4123 !default;
$modal-metro-green:              #1daf4c !default;
$modal-metro-blue:               #2586c7 !default;

//filter

$result-filter-color:      #ff6633  !default; //ff6633


 //Alerts


//prymary
$state-primary-bg:               #f8feff !default;
$state-primary-border:           #e6f8fb !default;
$state-primary-text:             #5f5f5f !default;
@mixin state-box-shadow{
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.04);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.04);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.04);
};

//success
$state-success-bg:               #f9ffe6 !default;
$state-success-border:           #8cb900 !default;
$state-success-text:             #8cb900 !default;


//== Pagination
//
//##



$pagination-color:                     $gray-darkenen;
$pagination-bg:                        $global-color;
$pagination-border:                    $gray-lighter;

$pagination-hover-color:               $primary;
$pagination-hover-bg:                  $primary-snow;
$pagination-hover-border:              $primary;

$pagination-active-color:              $primary-snow;
$pagination-active-bg:                 $primary;
$pagination-active-border:             $primary;

$pagination-disabled-color:            $gray-darkenen;
$pagination-disabled-bg:               $global-color;
$pagination-disabled-border:           $gray-lighter;





//
//$state-success-bg:               lighten($primary-success-disabled,     20%);
//$state-success-border:           lighten($primary-success-disabled,     20%);
//$state-success-text:             darken($primary-success-darken,        30%);
//
//$state-info-bg:                  lighten($primary-refinement-disabled,  40%);
//$state-info-border:              lighten($primary-refinement-disabled,  40%);
//$state-info-text:                darken($primary-refinement-darken,     30%);
//
//$state-warning-bg:               lighten($primary-warning-disabled,     5%);
//$state-warning-border:           lighten($primary-warning-disabled,     5%);
//$state-warning-text:             darken($primary-warning-darken,        30%);
//
//$state-danger-bg:                lighten($primary-danger-disabled,      5%);
//$state-danger-border:            lighten($primary-danger-disabled,      5%);
//$state-danger-text:              darken($primary-danger-darken,         30%);




// Forms
//
$input-bg:                       $global-color !default;
$input-bg-disabled:              $gray-lighter !default;
$input-color:                    #464646 !default;
$input-border:                   #eaeaea !default;
$input-border-active:            #c6c6c6 !default;
$input-border-radius:            0;
$input-border-radius-large:      0;
$input-border-radius-small:      0;
$textarea-border-radius:         5px;

$input-label-color:              #7c7c7c !default;

$input-color-primary:            #00aac5 !default;
$input-color-danger:             #e27273 !default;







//// Labels colors
//
//$label-color:         #ffffff;
//$label-color-red:     #cf3966;
//$label-color-orange:  #fe5f01;
//$label-color-green:   #44a633;
//$label-color-blue:    #4ba7bd;
//$label-color-violet:  #be3abd;
//$label-color-yellow:  #fe9d01;
//$label-color-gray:    #675c5f;
//$label-color-dark-blue: #125688;
//
////Brand colors
//$brand-success:       #3dcc3d;
//$brand-warning:       #e60000;
//$brand-danger:        $label-color-yellow;
//
//// Navigation colors
//$nav-short-bg-color:	#2e3133;
//
//// social icons colors
//$social-icon-color:		#8a9499; // gray
//
//// Bootstrap's used colors
//$global-color:          $primary-snow;
////$primary:         $primary-pink;
//
//// !!!SCAFFOLDING
////
//$body-bg:               $global-color;
//$text-color:            $gray-base;
//$link-color:            $primary;
//$main-border-color:     $gray-lighter;
//
//// Typography
////
//// font-weight
//$font-weight-normal:      normal;
//$font-weight-bold:        700;
//$font-weight-black:       900;
//
//

//// preview variable don't work normally
////$font-size-large:         ceil(($font-size-base * 1.1))  !default;   // ~18px
//
//$font-size-small:         1.16666rem   !default;   // ~14px
//$font-size-xs:            1rem  !default;   // ~12px
//
//// headings font-sizes
//$font-size-h1:            3rem !default;        // 36px
//$font-size-h2:            2rem !default;        // 24px
//$font-size-h3:            1.5rem !default;      // 18px
//$font-size-h4:            1.33333rem !default;  //24px
//$font-size-h5:            (ceil(($font-size-base * 1.25 * 10))) / 10 !default;   // ~18px
//$font-size-h6:            $font-size-base !default;                   // ~16px
//
//// headings global variables
//$headings-font-family:    $font-family-sans-serif !default;
//$headings-font-weight:    $font-weight-bold;
//$headings-line-height:    1 !default;
//$headings-color:          $gray-light !default;
//
//// line-height
//$line-height-base:        1.428571429 !default; // 20/14
//$line-height-computed:    22px;
//
//// form-styles
//$font-style-italic:       italic;
//$font-style-normal:       normal;
//
////== Components
////
////## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
//
//$padding-base-vertical:       6px   !default;
//$padding-base-horizontal:     30px  !default;
//
//$padding-x-large-vertical:    20px  !default;
//$padding-x-large-horizontal:  60px  !default;
//
//$padding-large-vertical:      10px  !default;
//$padding-large-horizontal:    40px  !default;
//
//$padding-small-vertical:      6px   !default;
//$padding-small-horizontal:    20px  !default;
//
//$padding-xs-vertical:         2px   !default;
//$padding-xs-horizontal:       14px  !default;
//
//$line-height-large:         1.3333333  !default; // extra decimals for Win 8.1 Chrome
//$line-height-small:         1.5  !default;
//$line-height-normal:        1  !default;
//
//$border-radius-base:        floor($line-height-base * $font-size-base);
//$border-radius-x-large:     floor($font-size-large * ($line-height-normal * 3));
//$border-radius-large:       floor($line-height-large * $font-size-large);
//$border-radius-small:       floor($line-height-small * $font-size-xs);
////
//////** Global color for active items (e.g., navs or dropdowns).
////$component-active-color:    #fff;
//////** Global background color for active items (e.g., navs or dropdowns).
////$component-active-bg:       $primary;
////
//////** Width of the `border` for generating carets that indicator dropdowns.
////$caret-width-base:          4px;
//////** Carets increase slightly in size for larger components.
////$caret-width-large:         5px;
////
////
//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            1rem 0.5rem;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f8feff;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #bfe6ec;

//// Switchers
//
//$switcher-off-color: #8a9499; // gray
////== Buttons
//
////## For each of Bootstrap's buttons, define text, background and border color.
//
//
////kraken buttons
//$btn-padding-horizontal-xlg:	50px;
//$btn-font-size-xlg:				2rem;
//$btn-line-height-xlg:			2.75em;
//
//// large buttons
//$btn-padding-horizontal-lg:		40px;
//$btn-font-size-lg:				1.25rem;
//$btn-line-height-lg:			3.75em;
//
//// default buttons
//$btn-padding-horizontal:		20px;
//$btn-font-size-default:			1.25rem;
//$btn-line-height-default:		3em;
//
//// small buttons
//$btn-padding-horizontal-sm:		20px;
//$btn-font-size-sm:				1.25rem;
//$btn-line-height-sm:			2.5em;
//
//// mini buttons
//$btn-padding-horizontal-xs:		10px;
//$btn-font-size-xs:				1rem;
//$btn-line-height-xs:			1.8em;
//
//
//$btn-font-weight:                normal;
//
//$btn-default-color:              $primary-pink;
//$btn-default-bg:                 $global-color;
//$btn-default-border:             $primary-pink;
//
//$btn-primary-color:              $global-color;
//$btn-primary-bg:                 $primary-pink;
//$btn-primary-border:             $primary-pink;
//
//$btn-light-color:                $global-color;
//$btn-light-bg:                   transparent;
//$btn-light-border:               $global-color;
//
//$btn-link-disabled-color:        $gray-light;
//$btn-inverse-bg-disabled-color:  rgba(255,255,255,.25);
//


//// Placeholder text color
////
//$input-color-placeholder:        $gray-base;
////
//////** Default `.form-control` height
////$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
//////** Large `.form-control` height
////$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
//////** Small `.form-control` height
////$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
////
////** `.form-group` margin
//$form-group-margin-bottom:       20px;
////
////$legend-color:                   $gray-dark;
////$legend-border-color:            #e5e5e5;
////
//////** Background color for textual input addons
////$input-group-addon-bg:           $gray-lighter;
//////** Border color for textual input addons
////$input-group-addon-border-color: $input-border;
////
////** Disabled cursor for form controls and buttons.
//$cursor-disabled:                not-allowed !default;
////
////
////== Dropdowns
////
////## Dropdown menu container and contents.
//
////** Background for the dropdown menu.
//$dropdown-bg:                    #fff;
////** Dropdown menu `border-color`.
//$dropdown-border:                $main-border-color;
////** Dropdown menu `border-color` **for IE8**.
//$dropdown-fallback-border:       #ccc;
////** Divider color for between dropdown items.
//$dropdown-divider-bg:            #e5e5e5;
//
////** Dropdown link text color.
////$dropdown-link-color:            $primary-stone;
////** Hover color for dropdown links.
//
//$dropdown-link-color:			$primary-pink;
//$dropdown-link-hover-color:      $global-color;
////** Hover background for dropdown links.
//$dropdown-link-hover-bg:         $primary-pink;
//
////** Active dropdown menu item text color.
//$dropdown-link-active-color:     $global-color;
////** Active dropdown menu item background color.
//$dropdown-link-active-bg:        $primary;
//
////** Disabled dropdown menu item background color.
//$dropdown-link-disabled-color:   $gray-light;
//
////** Text color for headers within dropdown menus.
//$dropdown-header-color:          $gray-light;
//
////
////-- Z-index master list
////
//// Warning: Avoid customizing these values. They're used for a bird's eye view
//// of components dependent on the z-axis and are designed to all work together.
////
//// Note: These variables are not generated into the Customizer.
//
//$zindex-navbar:            1000;
//$zindex-dropdown:          1000;
//$zindex-popover:           1060;
//$zindex-tooltip:           -1;
//$zindex-tooltip-active:    1070;
//
//$zindex-navbar-fixed:      1030;
//$zindex-modal-background:  1040;
//$zindex-modal:             1050;
////
////
//////== Media queries breakpoints
//////
//////## Define the breakpoints at which your layout will change, adapting to different screen sizes.
////
////// Extra small screen / phone
//////** Deprecated `$screen-xs` as of v3.0.1
////$screen-xs:                  480px;
//////** Deprecated `$screen-xs-min` as of v3.2.0
////$screen-xs-min:              $screen-xs;
//////** Deprecated `$screen-phone` as of v3.0.1
////$screen-phone:               $screen-xs-min;
////
////// Small screen / tablet
//////** Deprecated `$screen-sm` as of v3.0.1
////$screen-sm:                  768px;
////$screen-sm-min:              $screen-sm;
//////** Deprecated `$screen-tablet` as of v3.0.1
////$screen-tablet:              $screen-sm-min;
////
////// Medium screen / desktop
//////** Deprecated `$screen-md` as of v3.0.1
////$screen-md:                  992px;
////$screen-md-min:              $screen-md;
//////** Deprecated `$screen-desktop` as of v3.0.1
////$screen-desktop:             $screen-md-min;
////
////// Large screen / wide desktop
//////** Deprecated `$screen-lg` as of v3.0.1
////$screen-lg:                  1200px;
////$screen-lg-min:              $screen-lg;
//////** Deprecated `$screen-lg-desktop` as of v3.0.1
////$screen-lg-desktop:          $screen-lg-min;
////
////
////$screen-xl:                  1600px;
////
////// So media queries don't overlap when required, provide a maximum
////$screen-xs-max:              ($screen-sm-min - 1);
////$screen-sm-max:              ($screen-md-min - 1);
////$screen-md-max:              ($screen-lg-min - 1);
////
////
//////== Grid system
//////
//////## Define your custom responsive grid.
////
//////** Number of columns in the grid.
////$grid-columns:              12;
////$grid-columns-list:         1, 7, 10;
//////** Padding between columns. Gets divided in half for the left and right.
////$grid-gutter-width:         30px;
////// Navbar collapse
//////** Point at which the navbar becomes uncollapsed.
////$grid-float-breakpoint:     $screen-sm-min;
//////** Point at which the navbar begins collapsing.
////$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
////
////
//////== Container sizes
//////
//////## Define the maximum width of `.container` for different screen sizes.
////
////// Small screen / tablet
////$container-tablet:             (720px + $grid-gutter-width);
//////** For `$screen-sm-min` and up.
////$container-sm:                 $container-tablet;
////
////// Medium screen / desktop
////$container-desktop:            (940px + $grid-gutter-width);
//////** For `$screen-md-min` and up.
////$container-md:                 $container-desktop;
////
////// Large screen / wide desktop
////$container-large-desktop:      (1170px + $grid-gutter-width);
//////** For `$screen-lg-min` and up.
////$container-lg:                 $container-large-desktop;
//
//////== Tooltips
//$tooltip-min-width:             25rem;
//////== Navbar
//////
//////##
////
//// Basics of a navbar
//$navbar-height:                    50px;
//$navbar-border-radius:             $border-radius-base;
//$navbar-padding-horizontal:        0;
////$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
//$navbar-collapse-max-height:       340px;
//
////$navbar-default-color:             #777;
////$navbar-default-bg:                #f8f8f8;
////$navbar-default-border:            darken($navbar-default-bg, 6.5%);
//
////// Navbar links
////$navbar-default-link-color:                #777;
////$navbar-default-link-hover-color:          #333;
////$navbar-default-link-hover-bg:             transparent;
////$navbar-default-link-active-color:         #555;
////$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
////$navbar-default-link-disabled-color:       #ccc;
////$navbar-default-link-disabled-bg:          transparent;
////
////// Navbar brand label
////$navbar-default-brand-color:               $navbar-default-link-color;
////$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
////$navbar-default-brand-hover-bg:            transparent;
////
////// Navbar toggle
////$navbar-default-toggle-hover-bg:           #ddd;
////$navbar-default-toggle-icon-bar-bg:        #888;
////$navbar-default-toggle-border-color:       #ddd;
////
////
////// Inverted navbar
////// Reset inverted navbar basics
////$navbar-inverse-color:                      lighten($gray-light, 15%);
////$navbar-inverse-bg:                         #222;
////$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);
////
////// Inverted navbar links
////$navbar-inverse-link-color:                 lighten($gray-light, 15%);
////$navbar-inverse-link-hover-color:           #fff;
////$navbar-inverse-link-hover-bg:              transparent;
////$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
////$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
////$navbar-inverse-link-disabled-color:        #444;
////$navbar-inverse-link-disabled-bg:           transparent;
////
////// Inverted navbar brand label
////$navbar-inverse-brand-color:                $navbar-inverse-link-color;
////$navbar-inverse-brand-hover-color:          #fff;
////$navbar-inverse-brand-hover-bg:             transparent;
////
////// Inverted navbar toggle
////$navbar-inverse-toggle-hover-bg:            #333;
////$navbar-inverse-toggle-icon-bar-bg:         #fff;
////$navbar-inverse-toggle-border-color:        #333;
////
////
////== Navs
////
////##
//
////=== Shared nav styles
//$nav-link-padding:                          10px 10px;
//$nav-link-hover-bg:                         transparent;
//
//$nav-disabled-link-color:                   $gray-light;
//$nav-disabled-link-hover-color:             $gray-light;
//
////== Tabs
//$nav-tabs-border-color:                     #ddd;
//
//$nav-tabs-link-hover-border-color:          $gray-lighter;
//
//$nav-tabs-active-link-hover-bg:             $body-bg;
//$nav-tabs-active-link-hover-color:          $gray;
//$nav-tabs-active-link-hover-border-color:   #ddd;
//
//$nav-tabs-justified-link-border-color:            #ddd;
//$nav-tabs-justified-active-link-border-color:     $body-bg;
//
////== Pills
//$nav-pills-border-radius:                   6px;
//$nav-pills-active-link-hover-bg:            $primary;
//$nav-pills-active-link-hover-color:         $global-color;
//
////

////== Pager
////
////##
//
//$pager-bg:                             $global-color;
//$pager-border:                         $primary-pink;
//$pager-border-radius:                  $border-radius-x-large;
//
//$pager-hover-bg:                       $link-color;
//
//$pager-active-bg:                      $pagination-active-bg;
//$pager-active-color:                   $pagination-active-color;
//$pager-disabled-color:                 $pagination-disabled-color;
//
//
//////== Jumbotron
//////
//////##
////
////$jumbotron-padding:              30px;
////$jumbotron-color:                inherit;
////$jumbotron-bg:                   $gray-lighter;
////$jumbotron-heading-color:        inherit;
////$jumbotron-font-size:            ceil(($font-size-base * 1.5));
////
////
//

//////== Popovers
//////
//////##
////
//////** Popover body background color
////$popover-bg:                          #fff;
//////** Popover maximum width
////$popover-max-width:                   276px;
//////** Popover border color
////$popover-border-color:                rgba(0,0,0,.2);
//////** Popover fallback border color
////$popover-fallback-border-color:       #ccc;
////
//////** Popover title background color
////$popover-title-bg:                    darken($popover-bg, 3%);
////
//////** Popover arrow width
////$popover-arrow-width:                 10px;
//////** Popover arrow color
////$popover-arrow-color:                 $popover-bg;
////
//////** Popover outer arrow width
////$popover-arrow-outer-width:           ($popover-arrow-width + 1);
//////** Popover outer arrow color
////$popover-arrow-outer-color:           fadein($popover-border-color, 5%);
//////** Popover outer arrow fallback color
////$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%);
////
//
////== Labels
////
////$label-default-bg:            $primary-pink;
////$label-primary-bg:            $primary-pink;
////$label-success-bg:            $primary-pink;
////$label-info-bg:               $primary-pink;
////$label-warning-bg:            $primary-pink;
////$label-danger-bg:             $primary-pink;
////$label-color:                 $global-color;
////$label-link-hover-color:      #fff;
////
//////
////
////== Modals
////
////##
//
////** Padding applied to the modal body
//$modal-inner-padding:         15px;
//
////** Padding applied to the modal title
//$modal-title-padding:         15px;
////** Modal title line-height
//$modal-title-line-height:     $line-height-base;
////** Background color of modal content area
//$modal-content-bg:                             #fff;
////** Modal content border color
//$modal-content-border-color:                   rgba(0,0,0,.2);
////** Modal content border color **for IE8**
//$modal-content-fallback-border-color:          #999;
////** Modal backdrop background color
//$modal-backdrop-bg:           #000;
////** Modal backdrop opacity
//$modal-backdrop-opacity:      .75;
////** Modal header border color
//$modal-header-border-color:   #e5e5e5;
////** Modal footer border color
//$modal-footer-border-color:   $modal-header-border-color;
//
//$modal-lg:                    1170px;
//$modal-md:                    760px;
//$modal-sm:                    300px;
//
//$transition-type-modal: 		ease-in;//cubic-bezier(.59,.22,0,.99);
////
////
////== Alerts
////
////## Define alert settings.
//
//$alert-padding:               	18px 54px 18px 34px;
//$alert-border-radius:         	0;
//$alert-line-height:				$font-size-8 !default;
//$alert-font-size:				$font-size-8 - 1 !default;
//$alert-icon-size:				24px;
//$alert-close-icon:				"\f00d" !default;
////Alert information
//$alert-information-icon:        "\f129" !default;
//$alert-information-bg:          $gray-lightest !default;
////Alert success
//$alert-success-icon:        	"\f00c" !default;
//$alert-success-bg:          	$brand-success !default;
//$alert-success-color:			#ffffff !default;
////Alert error
//$alert-error-icon:        		"\f071" !default;
//$alert-error-bg:          		$brand-warning !default;
//$alert-error-color:				#ffffff !default;
//
//
//
////
////$alert-primary-bg:            $state-success-bg;
////$alert-primary-text:          $state-success-text;
////$alert-primary-border:        $state-success-border;
////
////$alert-success-bg:            $state-success-bg;
////$alert-success-text:          $state-success-text;
////$alert-success-border:        $state-success-border;
////
////$alert-info-bg:               $primary-snow;
////$alert-info-text:             $gray-darker;
////$alert-info-border:           $state-info-border;
////
////$alert-warning-bg:            $state-warning-bg;
////$alert-warning-text:          $state-warning-text;
////$alert-warning-border:        $state-warning-border;
////
////$alert-danger-bg:             $state-danger-bg;
////$alert-danger-text:           $state-danger-text;
////$alert-danger-border:         $state-danger-border;
//
//////== Progress bars
//////** Background color of the whole progress component
//
//$progress-bg:                 #f5f5f5 !default;
//
//////** Progress bar text color
////$progress-bar-color:          #fff;
//////** Variable for setting rounded corners on progress bar.
////$progress-border-radius:      $border-radius-base;
//////
////////** Default progress bar color
////$progress-bar-bg:             $primary;
//////** Success progress bar color
////$progress-bar-success-bg:     $brand-success;
//////** Warning progress bar color
////$progress-bar-warning-bg:     $brand-warning;
//////** Danger progress bar color
////$progress-bar-danger-bg:      $brand-danger;
//////** Info progress bar color
////$progress-bar-info-bg:        $brand-info;
//////
////
//////== List group
//////
//////##
////
//////** Background color on `.list-group-item`
////$list-group-bg:                 #fff;
//////** `.list-group-item` border color
////$list-group-border:             #ddd;
//////** List group border radius
////$list-group-border-radius:      $border-radius-base;
////
//////** Background color of single list items on hover
////$list-group-hover-bg:           #f5f5f5;
//////** Text color of active list items
////$list-group-active-color:       $component-active-color;
//////** Background color of active list items
////$list-group-active-bg:          $component-active-bg;
//////** Border color of active list elements
////$list-group-active-border:      $list-group-active-bg;
//////** Text color for content within active list items
////$list-group-active-text-color:  lighten($list-group-active-bg, 40%);
////
//////** Text color of disabled list items
////$list-group-disabled-color:      $gray-light;
//////** Background color of disabled list items
////$list-group-disabled-bg:         $gray-lighter;
//////** Text color for content within disabled list items
////$list-group-disabled-text-color: $list-group-disabled-color;
////
////$list-group-link-color:         #555;
////$list-group-link-hover-color:   $list-group-link-color;
////$list-group-link-heading-color: #333;
////
////
//
////== Panels
////
//$panel-bg:                    $global-color;
//$panel-body-padding:          15px;
//$panel-heading-padding:       10px 15px;
//$panel-footer-padding:        $panel-heading-padding;
//$panel-border-radius:         $border-radius-small / 3;
//
////** Border color for elements within panels
//$panel-inner-border:          #ddd;
//$panel-footer-bg:             #f5f5f5;
//
////$panel-default-text:          $gray-dark;
//$panel-default-border:        #ddd;
//$panel-default-heading-bg:    #f5f5f5;
//
//$panel-primary-text:          #fff;
//$panel-primary-border:        $primary;
//$panel-primary-heading-bg:    $primary;
////
////$panel-success-text:          $state-success-text;
////$panel-success-border:        $state-success-border;
////$panel-success-heading-bg:    $state-success-bg;
////
////$panel-info-text:             $state-info-text;
////$panel-info-border:           $state-info-border;
////$panel-info-heading-bg:       $state-info-bg;
////
////$panel-warning-text:          $state-warning-text;
////$panel-warning-border:        $state-warning-border;
////$panel-warning-heading-bg:    $state-warning-bg;
////
////$panel-danger-text:           $state-danger-text;
////$panel-danger-border:         $state-danger-border;
////$panel-danger-heading-bg:     $state-danger-bg;
////
////
//////== Thumbnails
//////
//////##
////
//////** Padding around the thumbnail image
////$thumbnail-padding:           4px;
//////** Thumbnail background color
////$thumbnail-bg:                $body-bg;
//////** Thumbnail border color
////$thumbnail-border:            #ddd;
//////** Thumbnail border radius
////$thumbnail-border-radius:     $border-radius-base;
////
//////** Custom text color for thumbnail captions
////$thumbnail-caption-color:     $text-color;
//////** Padding around the thumbnail caption
////$thumbnail-caption-padding:   9px;
////
////
//////== Wells
//////
//////##
////
////$well-bg:                     #f5f5f5;
////$well-border:                 darken($well-bg, 7%);
////
////
//////== Badges
//////
//////##
////
////$badge-color:                 #fff;
//////** Linked badge text color on hover
////$badge-link-hover-color:      #fff;
////$badge-bg:                    $gray-light;
////
//////** Badge text color in active nav link
////$badge-active-color:          $link-color;
//////** Badge background color in active nav link
////$badge-active-bg:             #fff;
////
////$badge-font-weight:           bold;
////$badge-line-height:           1;
////$badge-border-radius:         10px;
////
////
//
//
//// Breadcrumbs
////
//$breadcrumb-margin-bottom:      30px !default;
//$breadcrumb-bg:                 transparent !default;
//$breadcrumb-color:              $primary-pink !default;
//$breadcrumb-active-color:       $primary-pink-lighten !default;
//$breadcrumb-separator:          "\f105" !default;
//
//// Code
////
//$code-color:                  #c7254e !default;
//$code-bg:                     #f9f2f4 !default;
//$pre-bg:                      $gray-base !default;
//$pre-color:                   $global-color !default;
//$pre-border-color:            #ccc !default;
//
////
////
//////== Type
//////
//////##
////
//////** Horizontal offset for forms and lists.
////$component-offset-horizontal: 180px;
//////** Text muted color
//$text-muted:                  $gray-light;
//////** Abbreviations and acronyms border color
////$abbr-border-color:           $gray-light;
//////** Headings small color
////$headings-small-color:        $gray-light;
//////** Blockquote small color
////$blockquote-small-color:      $gray-light;
//////** Blockquote font size
////$blockquote-font-size:        ($font-size-base * 1.25);
//////** Blockquote border color
////$blockquote-border-color:     $gray-lighter;
//////** Page header border color
////$page-header-border-color:    $gray-lighter;
//////** Width of horizontal description list titles
////$dl-horizontal-offset:        $component-offset-horizontal;
//////** Horizontal line color.
////$hr-border:                   $gray-lighter;
////
////
//
////
////// Typography
////$heading-font-family: $base-font-family;
//
//// Font Sizes
//$base-font-size: 1em;
//
//// Line height
//$base-line-height: 1.5;
//$heading-line-height: 1.2;
//
//// Other Sizes
//$base-border-radius: 3px;
//$base-spacing: $base-line-height * 1em;
//$small-spacing: $base-spacing / 2;
//$base-z-index: 0;
//
//// Colors
//$blue: #477dca;
//$dark-gray: #333;
//$medium-gray: #999;
//$light-gray: #ddd;
//
//// Font Colors
//$base-font-color: $dark-gray;
//$action-color: $blue;
//
//// Border
//$base-border-color: $light-gray;
//$base-border: 1px solid $base-border-color;
//
//// Background Colors
//$base-background-color: #fff;
//$secondary-background-color: tint($base-border-color, 75%);
//
//// Forms
//$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
//$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
//
//// Animations
//$base-duration: 150ms;
//$base-timing: ease;
//
//
//// header variables
////
//$header-height-lg:  600px;
//$header-height-sm:  530px;
//$header-height-xs:  $header-height-sm;
//
////Profile variables
////
//$profile_booking_list_item_height: 145px;
//
//
////Blog variables
////
//$blog-header-height: 600px;
//$blog-slider-sm-thumbs-height: 50px;
//$blog-post-preview-height: 350px;
//$blog-popular-directions-height: $blog-post-preview-height*2+30;
//
//
////Search travel variables
////
//$search-travel-item-height: 200px;
//
////==Coll-to-action
//$buy-icon:          	"\f07a" !default;
//$buy-line-height:		36px;
//$buy-icon-font-size:	16px;
//
////==Article-ideas
//$mail-icon:          	"\f003" !default;
//$likes-icon:          	"\f004" !default;
//$views-icon:          	"\f06e" !default;
//$heart-icon:          	"\f08a" !default;
//$more-icon:          	"\f061" !default;
//
