head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
    title Institute
    link(rel="stylesheet", href="../../bower_components/owl-carousel/owl-carousel/owl.carousel.css")
    link(rel="stylesheet", href="./../css/main.css")

