
script(src="../../bower_components/jquery/dist/jquery.min.js")
    //Owl carousel
script(src="../../bower_components/owl-carousel/owl-carousel/owl.carousel.min.js")

script(src="./../js/app.js")





