// Placeholder
//
@mixin placeholder($color: $input-color-placeholder) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
    transition: text-indent 0.3s ease-in-out ;
    text-indent: 0;
  }
  &:-ms-input-placeholder {
    color: $color;
    transition: text-indent 0.3s ease-in-out ;
    text-indent: 0;
  }
  &::-webkit-input-placeholder {
    color: $color;
    transition: text-indent 0.3s ease-in-out ;
    text-indent: 0;
  }
}
