//after icon vertical align middle
@mixin after-icon($content: $angle-right-icon, $bottom: 0){
  position: relative;
  padding: 0 1.5em 0 0;


  &:after {
    font-family: $font-family-icomoon;
    content: $content;
    display: block;
    position: absolute;
    right: 0.5em;
    bottom: $bottom;

  }
}
//before icon vertical align middle
@mixin before-icon($content: $angle-left-icon, $bottom: 0){
  position: relative;
  padding: 0 0 0 1.5em;


  &:after {
    font-family: $font-family-icomoon;
    content: $content;
    display: block;
    position: absolute;
    left: 0.5em;
    bottom: $bottom;

  }
}



@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin square($size){
  width: $size;
  height: $size;
}

@mixin block-size($width,$height){
  width: $width;
  height: $height;
}

@mixin list-unstyled(){
  padding-left: 0;
  list-style: none;
}
@mixin font-style($bold,$style){
  font-weight: $bold;
  font-style: $style;
}
@mixin list-inline(){
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@mixin has-color($bg-color,$color){
  background-color: $bg-color;
  color: $color;
}

// round border radius
@mixin round($radius:50%){
  border-radius: 50%;
}

// border-color
@mixin border-color($color){
  border-color: $color;
}

// nav divider
@mixin nav-divider($color: #e5e5e5) {
  height: 1px;
  margin: (($line-height-computed / 2) - 1) 0;
  overflow: hidden;
  background-color: $color;
}
//anchor-block
@mixin anchor-block($display:block,$width:100%){
    display:$display;
    width: $width;
}

// border-colors
@mixin border-color($border-color){
  border: 1px solid $border-color;
}
// Tooltip position

@mixin position($position, $args){
  position: $position;

  @each $o in top right bottom left {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
      #{$o}: nth($args, $i + 1);
    }
  }
}

@mixin tooltip-position($pos, $args, $transform){
  @include position($pos,$args);
  transform: $transform;
}

@mixin tooltip-before($pos,$args,$width,$height) {
  content: "";
  @include position($pos,$args);
  width: $width;
  height: $height;
}

@mixin clearfix{
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}

@mixin max-sm{
  @media screen and (max-width: #{$sm}){
    @content;
  }
}
